<h1>Contact List</h1>

<section id="ContactForm">

</section>

<section>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th><th>Email</th><th>Created</th><th>Last Updated</th>
      </tr>
    </thead>
    <tbody id="ContactList">
      <!-- this is the part jQuery will fill in -->
    </tbody>
  </table>
</section>
